<div class="container">
  <div class="row">
    <div class="col-12">
      <nav class="navbar align-items-end">
        <a class="navbar-brand" href="https://haarlemmermeergemeente.nl/" (click)="show()">
          <img src="assets/haarlemmermeer-logo.svg" class="img-fluid" alt="logo-gemeente-haarlemmermeer">
        </a>
        <div class="navbar-nav mr-auto align-items-end">
          <div class="form-title nav-item">{{ title }}</div>
        </div>
      </nav>
      <hr class="mb-5">
    </div>
  </div>
</div>
