/* Import scss variables in component */
@import "../../../../../src/scss/variables";
@import "../../../../../node_modules/bootstrap/scss/mixins/breakpoints";

hr {
  border-top: 3px solid $purple;
}

.navbar {
  padding: 0.5rem 1rem 0.5rem 0px !important;
  line-height: 1;
  .navbar-brand {
    img {
      height: 198px;
    }
  }
}

.form-title {
  color: $primary;
  font-weight: 500;
  font-size: 1.8rem;
  margin-top: 20px;

  @include media-breakpoint-up(md) {
    margin-left: 30px;
    font-size: 2.5rem;
  }
}
