<h2 mat-dialog-title>Formulier(en) bewerken</h2>

<mat-dialog-content class="mat-typography">
    <div class="dialog-wrap">
        <mat-form-field appearance="fill">
            <mat-label>Form status</mat-label>
            <mat-select [(ngModel)]="data.form.status" matNativeControl>
                <mat-option *ngFor="let state of getStatus()" [value]="state">{{state}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="data.selected.selected.length === 1" class="example-full-width" appearance="fill">
            <mat-label>Design Url</mat-label>
            <input matInput placeholder="Ex. Pizza" [(ngModel)]="data.form.designUrl">
        </mat-form-field>

        <mat-form-field *ngIf="data.selected.selected.length === 1" class="full-width " appearance="outline">
            <mat-label>Info</mat-label>
            <textarea matInput
                      cdkTextareaAutosize
                      cdkAutosizeMinRows="4"
                      [(ngModel)]="data.form.description"></textarea>
        </mat-form-field>


        <mat-form-field class="full-width " appearance="outline">
            <mat-label>Offline bericht</mat-label>
            <textarea matInput
                      cdkTextareaAutosize
                      cdkAutosizeMinRows="4"
                      [(ngModel)]="data.form.message"></textarea>
        </mat-form-field>
    </div>
</mat-dialog-content>

<mat-dialog-actions class="dialog-actions" align="end">
    <button class="btn btn-primary" mat-button mat-dialog-close>Cancel</button>
    <button class="btn btn-primary" mat-button [mat-dialog-close]="data" cdkFocusInitial>Save</button>
</mat-dialog-actions>
