// .edit-form {
//   .mat-dialog-container {
//     width: 60%!important;
//     height: 40%!important;
//     border-radius: 10px;
//     background: lightcyan;
//     color: #039be5;
//   }
// }

.dialog-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.dialog-actions {
  button {
    &:last-child {
      margin-left: 10px;
    }
  }
}

.full-width {
  width: 100%;
}
