<ng-container *ngIf="show">
    <div class="form-group row {{ _component.required }}">
        <div class="col-sm-5">
            <label [htmlFor]="_component.label" class="col-form-label control-label">{{ _component.label }}</label>
        </div>
        <div class="col-sm-6">
           <textarea [formControl]="_component.abstractControl"
                      id="{{ _component.label }}"
                      rows="5"
                      class="form-control"
                      [attr.maxlength]="_component.maxLength"
                      [readonly]="_component.readOnly"
                      #characterCount>
            </textarea>
            <small class="text-muted float-right">Nog {{ _component.maxLength - characterCount.value.length }} tekens over.
            </small>
            <div *ngIf="characterCount.value.length == _component.maxLength" class="mt-4 alert alert-warning">
                U heeft het maximaal aantal tekens gebruikt. Pas uw tekst aan naar maximaal {{ _component.maxLength }} tekens.
            </div>
        </div>
        <div class="col-sm-12 col-md-1 col-lg-1 text-center">
            <app-question-mark *ngIf="_component.showQuestionMark"
                         [field]="_component">
            </app-question-mark>
        </div>

        <ng-container *ngIf="_component.abstractControl.touched && _component.abstractControl.errors">
            <div class="col-sm-5"></div>
            <app-field-errors2 [configs]='_component.validators' [control]='_component.abstractControl' class="col-sm-6"></app-field-errors2>
        </ng-container>
    </div>
</ng-container>
