@import '../../../../../../src/assets/leaflet-gesture-handling.min.css';

.map {
  height: 400px;
  padding: 0;
}

.leaflet-bar a {
  background-color: #07838f;
  color: #FFF;
}

.mob-status {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 20px;

  border: #07838f solid 4px;

  .status-icon {
    float: left;
    width: 15px;
    margin-right: 10px;
  }
}
