<basic-input-field2 [baseComponent]="_component.inputField"></basic-input-field2>
<div *ngIf="BEValidation" class="alert alert-danger">{{ BEValidation }}</div>

<div class="form-group row">
    <app-button class="col-sm-12" [baseComponent]="_component.searchButton"></app-button>
</div>

<div *ngIf="_component.showMap">
    <div class="map"
        leaflet
        [leafletOptions]="_component.mapOptions"
        [(leafletCenter)]="_component.defaultLatLng"
        (leafletMapReady)="_component.onMapReady($event)"
        >
    </div>
</div>

<div *ngIf="_component.mobData" class="mob-status">
    <div><span><strong>Melding {{_component.mobData.casenumber}}</strong></span><span *ngIf="_component.hasCategory()"><strong> {{_component.mobData.maincategory}} - {{_component.mobData.subcategory}}</strong></span></div>
    <br />
    <div><span class="status-icon"><fa-icon [icon]="'user'"></fa-icon></span><span>Status is: {{_component.mobData.status}}</span></div>
    <div><span class="status-icon"><fa-icon [icon]="'clock'"></fa-icon></span><span>Gemeld op {{_component.mobData.dateStart}}</span></div>
    <div *ngIf="_component.hasLocation()"><span class="status-icon"><fa-icon [icon]="'map-marker-alt'"></fa-icon></span><span>{{_component.mobData.location}}</span></div>
</div>

<app-label-field *ngIf="_component.hasError" [baseComponent]="_component.labelError"></app-label-field>

<app-label-field *ngIf="_component.hasWarning" [baseComponent]="_component.labelWarning"></app-label-field>
