@import "../../../../../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../../../../../../src/scss/variables";

.input-group-append {
  // height: calc(2rem + 2px);
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.3rem 0rem;
  font-size: 1rem;
  .input-group-text {
    color: #212529;
    background-color: transparent ;
    border: 0px;
  }
}

.unit-suffix {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  color: #212529;
}

