<ng-container *ngIf="show">
    <div class="form-group row {{ _component.required }}">
        <label [htmlFor]="_component.labelID"
               class="col-sm-5 col-form-label control-label">
            {{ _component.label }}
        </label>
        <div class="input-group col-sm-3">
            <div *ngIf="_component.icon" class="input-group-prepend">
                <div class="input-group-text">
                    <fa-icon [icon]="_component.icon"></fa-icon>
                </div>
            </div>
            <input [formControl]="_component.abstractControl"
                   [readOnly]="_component.readOnly"
                   id="{{ _component.labelID }}"
                   (keyup)="keyup($event)"
                   class="form-control"
                   attr.aria-describedby="{{ _component.labelID }}">

            <span class="w-100"></span>
            <small id="{{ _component.hintTextId }}"
                   class="form-text text-muted">
                {{ _component.hintText }}
            </small>
        </div>
        <div class="unit-suffix" id="basic-addon2" [innerHTML]="_component._units"></div>

        <div class="col-sm-12 col-md-1 col-lg-1 text-center">
            <app-question-mark *ngIf="_component.showQuestionMark"
                               [field]="_component">
            </app-question-mark>
        </div>

        <ng-container *ngIf="_component.abstractControl.touched && _component.abstractControl.errors">
            <div class="col-sm-5"></div>
            <app-field-errors2 [configs]='_component.validators' [control]='_component.abstractControl' class="col-sm-6"></app-field-errors2>
        </ng-container>
    </div>
</ng-container>
