<ng-container *ngIf="selectedComponent">
    <form [formGroup]="testForm">
        <h1>{{ selectedComponent.id }}</h1>

        <ng-container *ngFor="let obj of selectedComponent.examples">

            <h2>{{ obj.builder.getParams().id }}</h2>

            <p [innerHTML]="obj.description"></p>

            <div class="card w-100 p-3">
                <ng-container *ngIf="selectedComponent" dynamicField ngDefaultControl [baseComponent]="obj.component"></ng-container>
            </div>

            <button type="button"
                    class="btn btn-primary mb-2 mr-1"
                    (click)="obj.component.markAsTouched()">Trigger validation
            </button>

            <div class="row">
                <div class="w-50">
                    <button type="button" class="btn btn-primary mb-2 mr-1" (click)="toggleInput()">Toggle input</button>
                    <div class="m-5" *ngIf="showInput">
                        <h3>Input: </h3>

                        <div>
                            <b>The params: </b>
                            <pre>{{ obj.builder.getParams() | json }}</pre>
                        </div>
                    </div>
                </div>

                <div class="w-50">
                    <button type="button" class="btn btn-primary mb-2 mr-1" (click)="toggleOutput()">Toggle output</button>
                    <div class="m-5" *ngIf="showOutput">
                        <h3>Output: </h3>

                        <div>
                            <b>The presentation value: </b>
                            <pre>{{ obj.builder.build().getPresentationValue() | json }}</pre>
                        </div>

                        <div>
                            <b>The PDF value: </b>
                            <pre>{{ obj.builder.build().getPdfValue() | json }}</pre>
                        </div>

                        <div>
                            <b>The technical value: </b>
                            <pre>{{ obj.builder.build().getTechnicalValue() | json }}</pre>
                        </div>
                    </div>
                </div>
            </div>

            <hr *ngIf="selectedComponent.examples.length > 1">
        </ng-container>
    </form>


</ng-container>
