<div *ngIf="show" class="form-group row {{ _component.required }}">
    <label [htmlFor]="_component.id" class="col-sm-5 col-form-label control-label">{{ _component.label }}</label>
    <div class="input-group col-sm-6">
        <div class="form-group">
            <div class="input-group">
                <input [formControl]="_component.abstractControl"
                       [readOnly]='_component.readOnly'
                       class="form-control"
                       [min]="_component.minDate"
                       [max]="_component.maxDate"
                       [matDatepicker]="picker"
                       [id]="_component.id"
                       placeholder="dd-mm-jjjj">
                <div class="input-group-append">
                    <mat-datepicker-toggle [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker [disabled]='_component.readOnly'></mat-datepicker>
                </div>
            </div>
            <span class="w-100"></span>
            <small id="hintText" class="form-text text-muted">{{ _component.hintText }}</small>
        </div>
    </div>
    <div class="col-sm-12 col-md-1 col-lg-1 text-center">
        <app-question-mark *ngIf="_component.showQuestionMark" [field]="_component"></app-question-mark>
    </div>

    <ng-container *ngIf="_component.abstractControl.touched">
        <div class="col-sm-5"></div>
        <app-field-errors2 [configs]='_component.validators' [control]='_component.abstractControl' class="col-sm-6"></app-field-errors2>
    </ng-container>


</div>
