<fieldset *ngIf='show'>
    <legend><h2>{{ _component.label }}</h2></legend>

    <form [formGroup]='_component.abstractControl' *ngIf='show'>
        <ng-container *ngFor='let child of children'
                      dynamicField
                      ngDefaultControl
                      [baseComponent]='child'></ng-container>
    </form>

<!--    <ng-container *ngIf="_component.abstractControl.touched && _component.abstractControl.errors">-->
<!--        <div class="col-sm-5"></div>-->
<!--        <app-field-errors2 [configs]='_component.validators' [control]='_component.abstractControl' class="col-sm-6"></app-field-errors2>-->
<!--    </ng-container>-->
</fieldset>
