<div class="container">
<!--    <div *ngIf="formRoute.portalText"-->
<!--         [innerHTML]="formRoute.portalText.message"-->
<!--         class="{{ formRoute.portalText.style }}">-->
<!--    </div>-->

    <div class="row mt-4 login-portal-container">
        <div class="col-md-12 col-lg-4" *ngFor="let config of configs">
            <app-tile [tile]="config.loginTile"></app-tile>
        </div>
    </div>
</div>
