<!--<router-outlet (activate)="onOutletLoaded($event)"></router-outlet>-->
<app-login-portal *ngIf="currentPhase === loginPhase" [configs]="routing.formConfigs"></app-login-portal>

<app-form-component *ngIf="currentPhase === formPhase" [form]="selectedForm"></app-form-component>

<!--router-->
<!--<ng-container *ngIf="currentPhase === loginPhase">-->
<!--    login-->
<!--    <app-login-portal></app-login-portal>-->
<!--</ng-container>-->

<!--<ng-container *ngIf="currentPhase === formPhase">-->
<!--    form-->

<!--</ng-container>-->

<!--<ng-container *ngIf="currentPhase === dankPhase">-->
<!--    dank-->

<!--</ng-container>-->
