<ng-container *ngIf="_component.show">
    <form [formGroup]="_component.abstractControl">
        <app-basic-input-field-action [baseComponent]="_component.inputField"></app-basic-input-field-action>

        <div class="form-group row" *ngIf="adres">
            <div class="col-sm-5 col-form-label control-label">
                <span><strong>Uw gekozen locatie</strong></span>
            </div>
            <div class="input-group col-sm-6">
                <span><strong><i>{{adres.street}} {{adres.number}}, {{adres.postcode}} {{adres.city}}</i></strong></span>
            </div>
        </div>

        <div class="map"
             leaflet
             [leafletOptions]="_component.mapOptions"
             [(leafletCenter)]="_component.defaultLatLng"
             (leafletMapReady)="_component.onMapReady($event)"
             (leafletClick)="_component.onMapClick($event)">
        </div>

        <br>

        <ng-container *ngIf="_component.abstractControl.touched && _component.abstractControl.errors">
            <div class="col-sm-5"></div>
            <app-field-errors2 [configs]='_component.validators' [control]='_component.abstractControl' class="col-sm-6"></app-field-errors2>
        </ng-container>
    </form>
</ng-container>

