<div class="category" [class.active]="option.isChecked">
  <label [htmlFor]="option.data.id">
    <img [src]="option.data.url" class="category-image img-fluid" [alt]="option.data.id">
  </label>
  <div><span class="label">{{ option.data.value }}</span></div>
</div>
