.category.active {
  background: rgb(7,131,143);
  color: #fff;
  .label {
    color: #fff;
  }
}

.category {
  cursor: pointer;
}

.category-image {
  cursor: pointer;
}

.label {
  font-size: 1.5rem;
  font-weight: normal;
  color: #07838f;
}

[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
