<mat-card class="mb-3" [class.active]="option.isChecked">
    <mat-card-title>{{ option.data.label }}</mat-card-title>
    <mat-card-subtitle [class.active]="option.isChecked" [innerHTML]="option.data.subtitle"></mat-card-subtitle>
    <mat-card-content [innerHTML]="option.data.content"></mat-card-content>
</mat-card>
