mat-card {
  cursor: pointer;
}

mat-card.active {
  background: rgb(7,131,143);
  color: #fff;
}

.mat-card-title {
  font-size: 16px !important;
}

mat-card-subtitle {
  color: #000;
}

mat-card-subtitle.active {
  color: #fff;
}
