.grid-container {
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
    grid-template-rows: 70px 1px;
    gap: 20px 20px;
    /* autoprefixer: off */
    grid-auto-flow: row;
    grid-template-areas:
      "filter filter"
      "forms info";
    width: 100%;
    height: 100%;
  }
  
  .forms {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr; 
    grid-gap: 8px 8px;
    grid-area: forms; 
  }
  
  .filter { grid-area: filter; }
  
  .info { display: grid;
    grid-area: info; }

  .mat-form-field{
      width:400px !important;
      margin-right: 20px;
   }
  
   .filter-wrap {
     display: flex;
   }
   .filter-checkbox-wrap {
     display: flex;
     align-items: center;
     height: 75px;
     mat-checkbox {
        font-family: inherit;
        margin-right: 20px;
     }
   }

   .services {
    display: flex;
    
    color: white;
    margin-bottom: 20px;

    .service-item {
      margin-right: 15px;
    }
    .online {
      display: flex;
      align-items: center;
      font-size: 0.8rem;
      color: white;
      background-color: #07838f;
      span {
        text-transform: uppercase;
        // &::after {
        //   font-family: "Font Awesome 5 Free";
        //   font-weight: 900;
        //   margin-left: 5px;
        //   content: "\f1eb";
        // }
      }
      
    }
    .offline {
      display: flex;
      align-items: center;
      color: white;
      background-color: #dc3545;
      span {
        text-transform: uppercase;
        // &::after {
        //   font-family: "Font Awesome 5 Free";
        //   font-weight: 900;
        //   margin-left: 5px;
        //   content: "\f00d";
        // }
      }
    }
   }

   table {
    width: 100%;
  }

  .mat-row {
    height: 0px;
  }

  tr.element-row:not(.expanded-row):hover {
    background: whitesmoke;
    cursor: pointer;
  }

  tr.element-row:not(.expanded-row):active {
    background: #efefef;
  }

  .element-row td {
    border-bottom-width: 0;
  }

  .element-row {
    height: 48px;
  }

  .expanded-row {
    color: white!important;
    background-color: #9d2f86;
  }

  .element-detail {
    display: flex;
    flex-direction: column;
    height: 0px;
    overflow: hidden;
    transition: 250ms;
  }

  .expanded-element-detail {
    height: 160px;
    transition: 250ms;
  }

  .element-detail-section {
    display: flex;
    padding: 8px;
  }

  .element-description {
    padding: 16px;
  }

  .table-btn {
    margin: 5px 5px 0 0;
    border: 0;
    border-radius: 4px;
    width: 30px;
    height: 30px;
    color: #07838f;
    background-color: white;

    &:last-child {
      margin-bottom: 5px;
    }

    &:hover {
      color: white;
      background-color: #bb50a4;
      transition: 250ms;
      i {
        color: white;
      }
    }
    &:active {
      outline: none;
      border: none;
    }
    &:visited {
      outline: none;
      border: none;
    }
    &:focus {
      outline: none;
      border: none;
    }
  }

  .edit-wrap {
    display: flex;
    :last-child {
      margin-left: 15px;
    }
  }

.grid-table {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 5px 10px;
  .cell-head {
    font-weight: bold;
  }
}