<button class="btn btn-primary edit-btn" title="Edit global offline message" routerLink="../components">
    <i class="fa fa-edit"></i>Component dashboard
</button>

<div class="services">
    <mat-chip-list #chipList aria-label="services">
<!--        <mat-chip *ngFor="let service of services" [ngClass]="serviceClasses(service)">-->
<!--            <span>{{service.service}}</span>-->
<!--        </mat-chip>-->
    </mat-chip-list>
</div>

<div class="filter-wrap">
    <mat-form-field class="" appearance="outline">
        <mat-label>Filter</mat-label>
        <input type="text" matInput #matInput (keyup)="filterForms(matInput.value)">
    </mat-form-field>
</div>

<div class="edit-wrap" *ngIf="environmentData.vpn">
    <button class="btn btn-primary edit-btn" title="Edit form" (click)="openDialog2()" [disabled]="!selection.hasValue()">
        <i class="fa fa-edit"></i> Formulier(en) bewerken
    </button>
    <button class="btn btn-primary edit-btn" title="Edit global offline message" (click)="openGlobalMessageDialog()">
        <i class="fa fa-edit"></i> Offline bericht bewerken
    </button>
</div>

<div class="table-wrap" *ngIf="showTable">
    <table mat-table
           [dataSource]="dataSource" multiTemplateDataRows
           class="mat-elevation-z1"
           matSort>

        <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">

            <div *ngIf="column === 'select'">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                                  [checked]="selection.hasValue() && isAllSelected()"
                                  [indeterminate]="selection.hasValue() && !isAllSelected()"
                                  [aria-label]="checkboxLabel()">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()"
                                  (change)="$event ? selection.toggle(row) : null"
                                  [checked]="selection.isSelected(row)"
                                  [aria-label]="checkboxLabel(row)">
                    </mat-checkbox>
                </td>
            </div>

            <div *ngIf="column === 'actions'">
                <th mat-header-cell *matHeaderCellDef>Info</th>
                <td mat-cell *matCellDef="let element">
                    <button class="table-btn"
                            (click)="expandedElement = expandedElement === element ? null : element; element.expand=!element.expand"
                            title="More info">
                        <fa-icon class="fa-icon" [icon]="faInfo"></fa-icon>
                    </button>
                </td>
            </div>

            <div *ngIf="column === 'name'">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let element" (click)="navigateTo(element.routing.url + '/login-portal')">{{element.name }}</td>
            </div>

            <div *ngIf="column === 'status'">
                <th mat-header-cell *matHeaderCellDef>status</th>
<!--                <td mat-cell *matCellDef="let element">{{ element.routing.forms[0].dashConfig.status}}</td>-->
                <td mat-cell *matCellDef="let element">TODO fix hier iets</td>
            </div>

            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{column}}</th>
            <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
        </ng-container>

        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                <div class="element-detail" [class.expanded-element-detail]="element.expand">
                    <div class="element-detail-section">
                        <div class="element-url"><strong>URL:</strong> {{element.routing.url}} </div>
                    </div>
                    
                    <div class="element-detail-section">
                        <div *ngFor="let form of element.routing.forms">

                            <div class="grid-table">
                                <span class="grid-cell cell-head">formID:</span>
                                <span class="grid-cell">{{form.formID}}</span>

                                <span class="grid-cell cell-head">reactietermijn:</span>
                                <span class="grid-cell">{{form.form.dankScherm.reactietermijn}}</span>

                                <span class="grid-cell cell-head">label:</span>
                                <span class="grid-cell">{{form.form.dankScherm.label}}</span>
                        
                            </div>
                            <div class="element-description">
                                {{element.info}}
                                {{element.description}}
                            </div>

                        </div>
                    </div>

                    
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
            class="element-row"
            [class.expanded-row]="expandedElement === element">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
    </table>
</div>
