<div *ngIf="show" class="mb-3 w-100">
  <div *ngIf="_component.label">
    <h2>{{ _component.label }}</h2>
    <div class="divider"></div>
    <br>
  </div>

  <div *ngIf="_component.mainSet.label">
    <h2>{{ _component.mainSet.label }}</h2>
    <div class="divider"></div>
    <br>
  </div>

  <ng-container *ngFor="let child of _component.mainSet.children" appBase [baseComponent]="child"></ng-container>

  <ng-container *ngFor="let set of triggerSets" appBase [baseComponent]="set"></ng-container>

</div>
