<ng-container *ngIf='show'>
    <div class='form-group row {{ _component.required }}'>
        <app-field-label [labelID]="_component.labelID" [label]="_component.label" class="col-sm-5 "></app-field-label>

        <div class='input-group col-sm-6'>
            <div *ngIf='_component.icon' class='input-group-prepend'>
                <div class='input-group-text'>
                    <fa-icon [icon]='_component.icon'></fa-icon>
                </div>
            </div>

            <input [formControl]='_component.abstractControl'
                   [readOnly]='_component.readOnly'
                   id='{{ _component.labelID }}'
                   (keyup)='keyup($event)'
                   attr.aria-describedby="{{ _component.labelID }}"
                   class='form-control'>
            <span class='w-100'></span>

            <app-hint-text class='form-text text-muted' [text]='_component.hintText'
                           [textID]='_component.hintTextId'></app-hint-text>
        </div>
        <div class='col-sm-12 col-md-1 col-lg-1 text-center'>
            <app-question-mark *ngIf='_component.showQuestionMark'
                               [field]='_component'>
            </app-question-mark>
        </div>

        <ng-container *ngIf="_component.abstractControl.touched">
            <div class="col-sm-5"></div>
            <app-field-errors2 [configs]='_component.validators' [control]='_component.abstractControl' class="col-sm-6"></app-field-errors2>
        </ng-container>
    </div>

</ng-container>
