@import "../../../../../../src/styles";

.input-group-prepend {
  height: 38px;
}

.form-group {
  align-items: flex-start;
}

.input-group-text {
  background-color: transparent;

  fa-icon {
    color: $primary;
  }
}
