/* Import scss variables in component */
@import "../../../../../src/scss/variables";
@import "../../../../../node_modules/bootstrap/scss/mixins/breakpoints";

/* Footer styling */
.footer {
  min-height: 200px;
  display: flex;
  align-items: center;
  color: $white;
  background-color: $primary;

  .container {
    padding: 10px 15px 30px 15px;
  }

  .copyright {
    text-align: center;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
    }

    a {
      color: $white;
    }
  }

  hr {
    margin: 40px 0 0 0;
    padding: 0;
    border-top: 2px solid $white;
  }
}
