<footer class="footer mt-5">
  <div class="container">
    <div class="row">
      <div class="offset-lg-3 col-12 col-md-6 col-lg-3">
        <ul class="copyright">
          <li><a href="https://haarlemmermeergemeente.nl/proclaimer" target="blank">Proclaimer</a></li>
        </ul>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <ul class="copyright">
          <li><a href="https://haarlemmermeergemeente.nl/privacyverklaring" target="blank">Privacyverklaring</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
</footer>
