<ng-container *ngFor="let error of getProps(control.errors)">
    <div class="alert alert-danger" [innerHTML]="getErrorMsg(error)"></div>
</ng-container>

<ng-container *ngFor="let notification of getProps(control.notifications())">
    <div class="alert {{ control.notifications()[notification].warningType }}"
         *ngIf='control.notifications()[notification].show'
         [innerHTML]="control.notifications()[notification].msg"></div>
</ng-container>
