<div *ngIf="show" class="mb-3 w-100">
    <div *ngIf="_component.label">
        <h2>{{ _component.label }}</h2>
        <div class="divider"></div>
        <br>
    </div>
<!--    <ng-container *ngFor="let child of _component.childrenClean" appBase [baseComponent]="child"></ng-container>-->

    <form [formGroup]="_component.abstractControl" *ngIf="show">
        <ng-container *ngFor="let child of _component.childrenClean" dynamicField ngDefaultControl [baseComponent]="child"></ng-container>
    </form>

    <div *ngFor="let config of generatedFields; let i = index">

        <div class="form-group row">
            <app-field-label [labelID]="i + 'repeatID'" [label]="_component.subject + ' ' + (i + 1)" class="col-sm-5 col-form-label control-label"></app-field-label>
        </div>

        <ng-container *ngFor="let field of config.fields" dynamicField ngDefaultControl [baseComponent]="field"></ng-container>

        <div class="row" *ngIf="generatedFields.length > 1">
            <div class="col-5 d-md-none d-lg-block"></div>
            <div class="col-md-12 col-lg-7">
                <div class="mfg-container">
                    <app-button [baseComponent]="config.deleteButton"></app-button>
                </div>
            </div>
        </div>

        <hr>
    </div>
    <div class="row">
        <div class="col-5 d-none d-lg-block"></div>
        <div class="col-md-12 col-lg-7">
            <div class="mfg-container">
                <ng-container appBase [baseComponent]="_component.addButton"></ng-container>
            </div>
        </div>
    </div>

    <ng-container *ngIf="_component.abstractControl.touched && _component.abstractControl.errors">
        <div class="col-sm-5"></div>
        <app-field-errors2 [configs]='_component.validators' [control]='_component.abstractControl' class="col-sm-6"></app-field-errors2>
    </ng-container>
    
</div>
