@import "../../../../../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../../../../../../src/scss/variables";

.btn-search {
  background-color: $primary;
  color: white;

  &:hover {
    background-color: $secondary !important;
  }
}

.btn-search:disabled {
  background-color: $gray-600;
  border: none;
  cursor: not-allowed;

  &:hover {
    background-color: $gray-600 !important;
  }
}

.fa-map-marker-alt {
  margin-right: 5px;
  font-size: 22px;
}
