<ng-container *ngIf="show">
    <div class="form-group row {{ _component.required }}">
        <label [htmlFor]="_component.labelID"
               class="col-sm-5 col-form-label control-label">
            {{ _component.label }}
        </label>
        <div class="input-group col-sm-4">
            <input [formControl]="_component.abstractControl"
                   [readOnly]="_component.readOnly"
                   id="{{ _component.labelID }}"
                   (keyup)="keyup($event)"
                   class="form-control">
            <span class="w-100"></span>

            <div class="input-group-append">
                <button type="submit" (click)="_component.onClick()" class="btn btn-search">
                    <fa-icon icon="search"></fa-icon>
                </button>
            </div>
            <span class="w-100"></span>
            <small id="{{ _component.hintTextId }}"
                   class="form-text text-muted">
                {{ _component.hintText }}
            </small>
        </div>
        <div class="current-address col-sm-12 col-md-12 col-lg-3 mt-auto mb-auto">
            <a (click)="_component.setCurrentLocation()">
                <fa-icon icon="map-marker-alt"></fa-icon>
                Gebruik mijn locatie</a>
        </div>
        <div class="col-sm-12 col-md-1 col-lg-1 text-center">
            <app-question-mark *ngIf="_component.showQuestionMark"
                               [field]="_component">
            </app-question-mark>
        </div>

        <ng-container *ngIf="_component.abstractControl.touched && _component.abstractControl.errors">
            <div class="col-sm-5"></div>
            <app-field-errors2 [configs]='_component.validators' [control]='_component.abstractControl' class="col-sm-6"></app-field-errors2>
        </ng-container>

<!--        <div *ngIf="_component._blockingShow" class="w-100 alert alert-danger"-->
<!--             [innerHTML]="_component._blockingMessage"></div>-->

        <!--      TODO check dit, dit is nieuw?-->
        <!--      <div class="col-sm-5"></div>-->
        <!--      <app-field-errors2 *ngIf="showErrors()"-->
        <!--                         [field]="_field"-->
        <!--                         class="col-sm-6">-->
        <!--      </app-field-errors2>-->
        <!--      <ng-container *ngFor="let error of errors">-->
        <!--          <div *ngIf="error.show" class="w-100 {{ error.warningType }}" [innerHTML]="error.message"></div>-->
        <!--      </ng-container>-->
    </div>
</ng-container>
