<div class="row">
    <div class="col-12 col-md-12 col-lg-12">
        <ng-container
            *ngIf="form.dankScherm.html; then showInfo; else showVariables">
        </ng-container>
        <ng-template #showInfo>
            <div [innerHTML]="form.dankScherm.html"></div>
        </ng-template>
        <ng-template #showVariables>

            <div *ngIf="form.dankScherm.naam.getPresentationValue().value.length > 0 ">

                <div *ngIf="form.dankScherm.reactietermijn !== undefined">
                    Beste {{form.dankScherm.naam.getPresentationValue().value}} {{form.dankScherm.tussenvoegsel.getPresentationValue().value}} {{form.dankScherm.achternaam.getPresentationValue().value}},<br /><br />
                    Bedankt voor uw {{ form.dankScherm.label }}. U ontvangt binnen {{ form.dankScherm.reactietermijn }} een reactie.<br /><br />
                </div>

                <div *ngIf="form.dankScherm.reactietermijn === undefined">
                    Beste {{form.dankScherm.naam.getPresentationValue().value}} {{form.dankScherm.tussenvoegsel.getPresentationValue().value}} {{form.dankScherm.achternaam.getPresentationValue().value}},<br /><br />
                    Bedankt voor uw {{ form.dankScherm.label }}.<br /><br />
                </div>

            </div>

            <div *ngIf="form.dankScherm.naam.getPresentationValue().value === '' ">

                <div *ngIf="form.dankScherm.reactietermijn !== undefined">
                    Beste meneer of mevrouw,<br /><br />
                    Bedankt voor uw {{ form.dankScherm.label }}. U ontvangt binnen {{ form.dankScherm.reactietermijn }} een reactie.<br /><br />
                </div>

                <div *ngIf="form.dankScherm.reactietermijn === undefined">
                    Beste meneer of mevrouw,<br /><br />
                    Bedankt voor uw {{ form.dankScherm.label }}.<br /><br />
                </div>

            </div>

            <div *ngIf="form.dankScherm.extraBody" [innerHTML]="form.dankScherm.extraBody"></div>
        </ng-template>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-12 col-lg-12 mb-3">
        <div>Wilt u een kopie van uw ingevulde formulier? Download die dan via de knop hieronder.<br /><br /></div>
        <button (click)="downloadForm()" class="btn btn-primary">
            Download een kopie van het ingevulde formulier
        </button>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-12 col-lg-12 mb-3">
        <div>
            Met vriendelijke groet,<br />
            Gemeente Haarlemmermeer
        </div>
    </div>

    <div class="col-12 col-md-12 col-lg-12 mb-3">
        <div class="social-container">
            
            <a href="https://twitter.com/haarlemmermeer" target="_blank"><fa-icon [icon]="faTwitterSquare"></fa-icon></a>
            <a href="https://www.instagram.com/gemeente.haarlemmermeer" target="_blank"><fa-icon [icon]="faInstagram"></fa-icon></a>
            <a href="https://www.facebook.com/GemeenteHaarlemmermeer" target="_blank"><fa-icon [icon]="faFacebookSquare"></fa-icon></a>
        </div>
    </div>

    <div class="col-12 col-md-12 col-lg-12 mb-3">
        <a href="https://haarlemmermeergemeente.nl/" class="">Terug naar de website van de gemeente</a><br />
        <!-- <a href="window.close()">Sluit dit scherm</a> -->
    </div>
   
    
</div>
