<ng-template #popContent><div [innerHTML]="field.questionMarkText"></div></ng-template>
<fa-icon class="question-mark-icon"
         tooltipClass="question-mark"
         [icon]="faQuestionCircle"
         placement="auto"
         [popoverTitle]="field.questionMarkTitle"
         [ngbPopover]="popContent"
         triggers="click:blur">
</fa-icon>
