<div class="form-group row" *ngIf="show">
    <div class="col-12 justify-content-md-center">

        <div *ngFor="let option of options">
            <div *ngIf="option.show" class="form-check {{ _component.required }}">
                <label>
                    <input type="checkbox"
                           class="form-check-input"
                           [formControl]="option.formControl"
                           [value]="option.data.value"
                           [id]="option.id">
                    <label [htmlFor]="option.id" [innerHTML]="option.data.value"></label>
                </label>
            </div>
        </div>

        <ng-container *ngIf="_component.abstractControl.touched && _component.abstractControl.errors">
            <div class="col-sm-5"></div>
            <app-field-errors2 [configs]='_component.validators' [control]='_component.abstractControl' class="col-sm-6"></app-field-errors2>
        </ng-container>
    </div>
</div>


