FOrm compoennt!

<div *ngIf="form" class="row">
    form
    <div *ngIf="form.showMenu" class="col-sm-12 col-md-12 col-lg-3 button-wrapper">
        menu
        <div *ngFor="let tab of this.form.tabs">
            <button *ngIf="tab.show.getValue()"
                    type="button"
                    class="btn-side"
                    (click)="navFromSideMenu(tab)"
                    [class.active]="isTabActive(tab)">{{ tab.label }}
            </button>
        </div>

        <br>

<!--        <button *ngIf="form.showLoginButton" class="btn-logout" (click)="form.logout()">-->
<!--            Uitloggen-->
<!--        </button>-->

<!--        <button *ngIf="dev" class="btn-logout" (click)="form.getFormConfig(true)">-->
<!--            Field config voor BE-->
<!--        </button>-->
<!--        <button *ngIf="dev" class="btn-logout" (click)="form.getFormConfig(false)">-->
<!--            Alle config (concept)-->
<!--        </button>-->
<!--        <button *ngIf="dev" class="btn-logout" (click)="form.developPrefill()">-->
<!--            Prefill-->
<!--        </button>-->
    </div>

    <div class="col-sm-12 col-md-12 {{ form.tabWidth }}">
        <app-tab *ngIf="activeTab" ngDefaultControl [tab]="activeTab"></app-tab>
    </div>
</div>
