.button-wrapper {
  margin-top: 38px;
}

.btn-logout {
  width: 100%;
  padding: 0.5rem 1rem;
  margin-bottom: 5px;
  border-radius: 0.25rem;
  border: 2px solid #07838f;
  cursor: pointer;
  color: #07838f;
  font-weight: bold;
  background-color: #FFFFFF;
}

.btn-logout:hover {
  border: 2px solid #9d2f86;
  color: #9d2f86;
}
