<app-loader></app-loader>
<lib-header-component></lib-header-component>
<div class="container">
  <app-screen-message></app-screen-message>
  <router-outlet></router-outlet>
</div>
<lib-footer-component class="mt-auto"></lib-footer-component>
