<div class="form-group row required">
    <div class="col-sm-12">

        <div class="form-group row {{ _component.required }}">
            <div class="col-12">


                <div class="row">
                    <div *ngFor="let option of options; let i = index"
                         class="col-sm-12 col-md-6 col-lg-3 mt-3 mb-4 text-center"
                         (click)="onClick(option)">
                        <app-image-picker [option]="option"></app-image-picker>
                    </div>
                </div>

                <span class="w-100"></span>
                <small id="{{ _component.hintTextId }}" class="form-text text-muted">{{ _component.hintText }}</small>
            </div>
        </div>

        <!--    <div *ngIf="showErrors()">-->
        <!--      <app-field-errors2 *ngFor="let errorConfig of fieldInputErrors" [type]="errorConfig.labelType" [message]="errorConfig.message"></app-field-errors2>-->
        <!--    </div>-->

        <!--    <div *ngIf="errors.length > 0">-->
        <!--      <app-field-errors2 *ngFor="let errorConfig of errors" [type]="errorConfig.labelType" [message]="errorConfig.message"></app-field-errors2>-->
        <!--    </div>-->
    </div>
</div>
