<div *ngIf="show" class="mb-3 w-100">
    <div *ngIf="_component.label">
        <h2>{{ _component.label }}</h2>
        <div class="divider"></div>
        <br>
    </div>

    <form [formGroup]="_component.abstractControl" *ngIf="show">
        <ng-container *ngFor="let child of _component.formSetChildren">
            <ng-container dynamicField ngDefaultControl [baseComponent]="child"></ng-container>

            <ng-container *ngFor="let trigger of _component.triggers">
                <ng-container dynamicField ngDefaultControl [baseComponent]="trigger.label"></ng-container>
            </ng-container>
        </ng-container>
    </form>

    <ng-container *ngIf="_component.abstractControl.touched && _component.abstractControl.errors">
        <div class="col-sm-5"></div>
        <app-field-errors2 [configs]='_component.validators' [control]='_component.abstractControl'
                           class="col-sm-6"></app-field-errors2>
    </ng-container>
</div>
