<div class="form-group row {{ _component.required }}" *ngIf="show">
    <label [htmlFor]="_component.labelID" class="col-sm-5 col-form-label control-label"
           [innerHTML]="_component.label"></label>
    <div class="col-sm-6">

        <select [formControl]="_component.abstractControl" class="form-control">
            <option *ngFor="let option of options" [ngValue]="option.id">
                {{ option.data.value }}
            </option>
        </select>

        <span class="w-100"></span>
        <small id="hintText" class="form-text text-muted">{{ _component.hintText }}</small>

        <ng-container *ngIf="_component.abstractControl.touched && _component.abstractControl.errors">
            <div class="col-sm-5"></div>
            <app-field-errors2 [configs]='_component.validators' [control]='_component.abstractControl' class="col-sm-6"></app-field-errors2>
        </ng-container>
    </div>
</div>
