
<h2 mat-dialog-title>Offline bericht bewerken</h2>
<mat-dialog-content class="mat-typography">
    <div class="dialog-wrap">
        <mat-form-field class="full-width " appearance="outline">
            <mat-label>Offline bericht</mat-label>
            <textarea matInput
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="4"
                    [(ngModel)]="data.message"
            ></textarea>
        </mat-form-field>
    </div>
</mat-dialog-content>

<mat-dialog-actions class="dialog-actions" align="end">
    <button class="btn btn-primary" mat-button mat-dialog-close>Cancel</button>
    <button class="btn btn-primary" mat-button [mat-dialog-close]="data.message" cdkFocusInitial>Save</button>
</mat-dialog-actions>

