.dialog-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.dialog-actions {
  button {
    &:last-child {
      margin-left: 10px;
    }
  }
}

.full-width {
  width: 100%;
}
