<ng-container *ngIf='tab.abstractControl.touched && tab.abstractControl.errors'>
    <div class='col-sm-5'></div>
    <app-field-errors2 [configs]='tab.validators' [control]='tab.abstractControl' class='col-sm-6'></app-field-errors2>
</ng-container>

<form *ngIf='tab' [formGroup]='tab.abstractControl'>
    <div class='text-right'>
        <small class='text-muted'>Vragen met een * zijn verplicht.</small>
    </div>

<!--    <div *ngFor="let child of children"> {{ child._config.id }}</div>-->

    <ng-container *ngFor='let child of children'
                  dynamicField
                  ngDefaultControl
                  [baseComponent]='child'></ng-container>

<!--    <div class='btns' *ngIf='parent.form.showButtons'>-->
<!--        <button class='btn btn-primary float-left' *ngIf="parent.form.tabs.indexOf(tab) !== 0" (click)='previous()'>-->
<!--            Vorige-->
<!--        </button>-->
<!--        <button type='submit' class='btn btn-primary float-right' (click)='onSubmit()'>-->
<!--            {{ tab.nextBtnText }}-->
<!--        </button>-->
<!--    </div>-->
</form>
