<div *ngIf="show" class="mb-3 w-100">
    <div *ngIf="_component.label">
        <h2>{{ _component.label }}</h2>
        <div class="divider"></div>
        <br>
    </div>
    <div *ngFor="let config of generatedConfigs; let i = index">
        <div class="form-group row">
            <app-field-label [labelID]="i + 'repeatID'" [label]="_component.subject + ' ' + (i + 1)" class="col-sm-5 col-form-label control-label"></app-field-label>
        </div>

        <ng-container *ngFor="let field of config.fields" dynamicField ngDefaultControl [baseComponent]="field"></ng-container>
    </div>

</div>
