<div *ngIf="show" class="mb-3 w-100">
    <div *ngIf="_component.label">
        <h2>{{ _component.label }}</h2>
        <div class="divider"></div>
        <br>
    </div>

    <form [formGroup]="_component.abstractControl" *ngIf="show">
        <ng-container *ngFor="let child of _component.children" dynamicField ngDefaultControl [baseComponent]="child"></ng-container>
    </form>

    <ng-container dynamicField [baseComponent]="_component.actionButton"></ng-container>

    <ng-container *ngIf="_component.abstractControl.touched && _component.abstractControl.errors && _component.abstractControl['hasBeenClicked']">
        <app-field-errors2 [configs]='_component.validators' [control]='_component.abstractControl' class="col-sm-6"></app-field-errors2>
    </ng-container>

</div>
