<div class="form-group row {{ _component.required }}" *ngIf="show">
    <label class="col-sm-5 col-form-label control-label" [innerHTML]="_component.label"></label>
    <div class="col-sm-6">


        <div *ngFor="let option of options">
            <div *ngIf="option.show" class="form-check">
                <label>
                    <input type="radio"
                           class="form-check-input"
                           [name]="_component.id"
                           [formControl]="_component.abstractControl"
                           [value]="option.id"
                           [id]="option.id">
                    {{ option.data.value }}
                </label>
            </div>
        </div>

        <app-hint-text class="form-text text-muted" [text]="_component.hintText"
                       [textID]="_component.hintTextId"></app-hint-text>
    </div>
    <div class="col-sm-12 col-md-1 col-lg-1 text-center">
        <app-question-mark *ngIf="_component.showQuestionMark" [field]="_component"></app-question-mark>
    </div>

    <ng-container *ngIf="_component.abstractControl.touched && _component.abstractControl.errors">
        <div class="col-sm-5"></div>
        <app-field-errors2 [configs]='_component.validators' [control]='_component.abstractControl' class="col-sm-6"></app-field-errors2>
    </ng-container>
</div>
