<div *ngFor="let tab of tabs">
    <div *ngIf="tab.showInOverviewSet && tab.show.getValue()">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <h2 class="tab-title">{{ tab.label }}</h2>
                <div class="divider"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 text-right"><a (click)="form.navigateToTab(tab)">Wijzigen</a>
            </div>
        </div>

        <div *ngFor="let fieldSet of tab.children">
            <div *ngFor="let set of fieldSet.children">
                <div *ngIf="set.showInOverviewSet && set.show.getValue()">
                    <div class="row">
                        <div *ngIf="set.children.length > 8" class="col col-sm-6 set-title">{{ set.label }}</div>
                    </div>
                    <div *ngFor="let field of set.children" class="row">
                        <ng-container *ngIf="field.showInOverviewSet && field.show.getValue()" class="col-sm-12 col-md-12 col-lg-12">
                            <div class="col-sm-12 col-md-12 col-lg-6 overview-text mb-2" [innerHTML]="field.getPresentationValue().label"></div>
                            <div class="col-sm-12 col-md-12 col-lg-6 mb-2">{{ field.getPresentationValue().value }}</div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
