<fieldset class="login-fieldset">
    <legend><h2>{{ tile.title }}</h2></legend>
    <div class="login-container">
        <div class="logo-img">
<!--            <img alt="digid-logo" class="mr-4" height="{{ tile.img.height }}"-->
<!--                 src="{{ formConfig.loginTile.img.path }}" width="{{ formConfig.loginTile.img.width }}">-->
        </div>

        <div class="col-sm-12 col-md-8 col-lg-12 login-content">
            <div [innerHTML]="tile.text"></div>
            <div class="row mt-4">
                <button (click)="login()"
                        class="col-sm-12 btn btn-primary"
                        type="button">{{ tile.buttonText }}</button>
                <br>
            </div>
        </div>
    </div>
</fieldset>

<!--<div *ngIf="formConfig.loggedIn" class="w-100 text-center {{ formConfig.loginTile.alert.type }}">-->
<!--    {{ formConfig.loginTile.alert.message }}-->
<!--</div>-->
