@import "../../../../../../../src/styles";

.login-fieldset {
  height: 100%;

  .login-container {
    height: calc(100% - 40px);
    display: flex;
    flex-direction: column;

    .logo-img {
      display: flex;
      align-items: center;
      justify-content: center;

      flex-grow: 1;
      margin-bottom: auto;
    }

    .login-content {
      flex: none;
      margin-top: auto;
    }
  }
}

@media (max-width: 991px) {
  .login-fieldset .login-container {
    flex-direction: row;

    .logo-img {
      margin-bottom: unset;
    }
  }
}

@media (max-width: 767px) {
  .login-fieldset .login-container {
    flex-direction: column;
  }
  .logo-img {
    margin-bottom: 20px !important;
  }
}

fa-icon {
  font-size: 1em;
  padding: 0 0 0 5px;
  margin-top: 2px;

  .external-link-icon {
    color: $primary;
  }
}
