/* Import scss variables in component */
@import "../../../../../src/scss/variables";

.overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,.8);
  z-index: 99999;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.mat-progress-spinner::ng-deep circle, .mat-spinner circle {
  stroke: $primary !important;
}
