<div class="form-group row required">
    <div class="col-sm-12">

        <div class="form-group row {{ _component.required }}">
            <div class="col-12">

                <div *ngFor="let option of options" (click)="onClick(option)">
                    <ng-container optionDirective
                                  [option]="option"></ng-container>
                </div>

                <span class="w-100"></span>
                <small id="{{ _component.hintTextId }}" class="form-text text-muted">{{ _component.hintText }}</small>
            </div>
        </div>

        <ng-container *ngIf="_component.abstractControl.touched && _component.abstractControl.errors">
            <div class="col-sm-5"></div>
            <app-field-errors2 [configs]='_component.validators' [control]='_component.abstractControl' class="col-sm-6"></app-field-errors2>
        </ng-container>
    </div>
</div>
