<ng-container *ngIf="show">
    <div class="form-group {{ _component.required }}">
        <label for="message" class="col-form-label control-label">{{ _component.label }}</label>
        <small class="text-muted float-right">Nog {{ _component.maxLength - characterCount.value.length }} tekens over.
        </small>
        <textarea [formControl]="_component.abstractControl"
                  id="message"
                  rows="5"
                  class="form-control"
                  [attr.maxlength]="_component.maxLength"
                  #characterCount></textarea>
        <div *ngIf="characterCount.value.length == _component.maxLength" class="mt-2 alert alert-warning">
            U heeft het maximaal aantal tekens gebruikt. Pas uw tekst aan naar maximaal {{ _component.maxLength }} tekens.
        </div>

        <ng-container *ngIf="_component.abstractControl.touched && _component.abstractControl.errors">
            <div class="col-sm-5"></div>
            <app-field-errors2 [configs]='_component.validators' [control]='_component.abstractControl' class="col-sm-6"></app-field-errors2>
        </ng-container>
    </div>
</ng-container>

