<div *ngIf="show" class="row">
    <div *ngIf="_component.showQuestionMark" class="col-11">
        <div class="mt-3 mb-3 {{ _component.warningType }}" [innerHTML]="_component.label"></div>
    </div>

    <div *ngIf="!_component.showQuestionMark" class="col-12">
        <div class="mb-3 {{ _component.warningType }}" [innerHTML]="_component.label"></div>
    </div>
    <div class="col-1 text-center">
        <app-question-mark *ngIf="_component.showQuestionMark"
                           [field]="_component">
        </app-question-mark>
    </div>
</div>
