<div *ngIf="show" class="{{ _component.buttonAllignment}}">
  <img *ngIf="_component.image" class="mr-4" src="{{ _component.image.path }}" alt="digid-logo" width="60" height="60">
  <button type="button" (click)="_component.click()" class="{{ _component.buttonClass }}">
      <fa-icon *ngIf="_component.icon" class="fa-icon" icon="{{ _component.icon }}"></fa-icon>{{ _component.buttonText }}
  </button>
</div>
