.btn-mfg {

	display: flex;
	align-items: center;
    justify-content: center;
	height: 100%;
	color: #fff;
	background-color: #07838f;
    border: none;
	padding: .5rem 1rem;

	fa-icon {
		margin-right: .8rem;
		font-size: 1.4rem;
	}

	svg {
		vertical-align: baseline;
	}

	

}

.full-height {
	height: 100%;
}
