<div *ngIf="show">
    <div class="form-group row {{ _component.required }}">
        <label *ngIf="_component.label" [htmlFor]="_component.labelID"
               class="col-sm-5 col-form-label control-label" [innerHTML]="_component.label">
        </label>

        <div class="input-group col-sm-6">
            
            <div class="col-sm-12 mb-3 file-list" *ngFor="let file of _component.files">
                <fa-icon [icon]="faFile" class="file-icon"></fa-icon>
                {{ file.fileName }}
                <fa-icon (click)="removeFile(file)" [icon]="faTrashAlt" class="trash-icon"></fa-icon>
            </div>

            <div *ngIf="warning != undefined" class="mb-3 mt-3">
                <div class="alert alert-danger">
                    {{ warning }}
                </div>
            </div>
        
            <label class="file btn btn-primary" id="file_upload">
                Voeg foto of document toe
                <input id="{{ _component.labelID }}" type="file" name="bestand" multiple
                        accept=".jpg, .txt, .png, .pdf, .doc, .docx, .xls, .xlsx"
                        (change)="addFile($event.target.files)"
                        aria-labelledby="bestand-upload">
                <fa-icon [icon]="faPaperclip"></fa-icon>
            </label>
            <small id="hintText" class="form-text text-muted">{{ _component.hintText }}</small>
            <small *ngIf="_component.files.length > 0" id="mbs" class="form-text text-muted">{{ fileUploadService.remainingMbs }}</small>
        </div>
        <div class="col-sm-12 col-md-1 col-lg-1 text-center">
            <app-question-mark *ngIf="_component.showQuestionMark"
                                [field]="_component">
            </app-question-mark>
        </div>

        <ng-container *ngIf="_component.abstractControl.touched && _component.abstractControl.errors">
            <div class="col-sm-5"></div>
            <app-field-errors2 [configs]='_component.validators' [control]='_component.abstractControl' class="col-sm-6"></app-field-errors2>
        </ng-container>

<!--        </div>-->
<!--        <div *ngIf="errors.length > 0" class="col-sm-5"></div>-->
<!--        <div *ngIf="errors.length > 0" class="col-sm-6">-->
<!--                <app-field-errors2 *ngFor="let errorConfig of errors" [type]="errorConfig.labelType"-->
<!--                                   [message]="errorConfig.message"></app-field-errors2>-->
<!--        </div>-->
    </div>
</div>
