@import "../../../../../../src/styles";

.file {
  cursor: pointer;
}

fa-icon {
  font-size: 1em;
  padding: 0 0 0 5px;
}

.trash-icon {
  cursor: pointer;
  color: $primary;

  &:hover {
    color: $secondary;
  }
}

.file-icon {
  font-size: 18px;
  color: $primary;
}

input[type="file"] {
  display: none;
}

.file-list {
  padding-bottom: 10px;
  border-bottom: 2px solid $primary;
}

.btn {
  height: 47px;
}

