/* Importing Bootstrap and Variables SCSS in the Angular project */
@import "scss/variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~leaflet/dist/leaflet.css';

/* General styling of the E-Formulieren Template */
body {
  font-family: $font-family-sans-serif;
}

app-root {
  height: 100%;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  app-root {
    height: auto;
  }
}

h1 {
  color: $primary;
}

h2 {
  color: $primary;
  font-size: 18px;
  font-weight: bold;
}

a {
  color: $primary;
  font-weight: bold;

  &:hover {
    color: $secondary;
  }
}

a:not([href]):not([tabindex]) {
  color: $primary;
  cursor: pointer;

  &:hover {
    color: $secondary;
    text-decoration: underline;
    cursor: pointer;
  }
}

.btn-primary {
  background-color: $primary;
  border: none;
  padding: 10px 30px 10px 30px;

  &:hover {
    background-color: $secondary !important;
  }

  &:hover {
    background-color: $secondary !important;
  }

  &:active {
    background-color: $secondary !important;
  }

  @include media-breakpoint-down(md) {
    width: 100%;
    white-space: normal;
    font-size: 14px;
    margin-bottom: 10px;
  }
}

.btn-primary:disabled {
  background-color: $gray-600;
  border: none;
  padding: 10px 30px 10px 30px;
  cursor: not-allowed;

  &:hover {
    background-color: $gray-600 !important;
  }
}

.btn-outline-secondary {
  color: $primary;
  border: 1px solid $primary;

  &:hover {
    border: 1px solid $primary;
    background-color: $primary;
  }
}

.btn-dashboard {
  width: 100%;
}

@include media-breakpoint-down(md) {
  .btn-left {
    width: 47%;
  }
  
  .btn-right {
    width: 47%;
  }
}


.mat-datepicker-toggle {
  color: $primary;
}

.mat-icon-button {
  line-height: 0px !important;
}

.mat-calendar-body-selected {
  background-color: $purple;
}

.bg-primary {
  background-color: $secondary !important;
}

.tooltip-show {
  opacity: 1 !important;
}

// Popover styling
.popover {
  max-width: 380px;
  border: 1px solid $secondary;
  font-family: "Calibri", Verdana, sans-serif;
  font-size: 15px;
}

.popover-header {
  color: white;
  background-color: $secondary;
}

.popover-body {
  width: 380px;
}

.bs-popover-top .arrow::before, .bs-popover-auto[x-placement^="top"] .arrow::before {
  border-top-color: $secondary;
}

/* Form styling */
.input-group .form-control:not(:last-child) {
  border-top-right-radius: 0.2rem !important;
  border-bottom-right-radius: 0.2rem !important;
}

.col-form-label {
  width: 100%;
  
  @include media-breakpoint-up(md) {
    text-align: right;
    padding-top: 0;
  }
}

.question-mark-icon {
  color: $primary;
  font-size: 20px;

  &:hover {
    color: $secondary;
  }

  &:active {
    color: $secondary;
  }
}

.custom-padding {
  padding-top: 0;
}

.overview-text {
  font-weight: bold;

  @include media-breakpoint-up(lg) {
    font-weight: normal;
    text-align: right;
  }
}

/* Required styling */
.form-group.required .control-label::after {
  content:"*";
  color: $red;
}

.form-check.required .control-label::after {
  content:"*";
  color: $red;
}

/* Validation Errors */
.alert-danger {
  padding: 0.38rem 1.25rem;
}

/* Fieldset styling */
fieldset {
  border: 1px solid $primary !important;
  padding: 0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  border-radius: 0px;
}

legend {
  font-size: 1.2em !important;
  font-weight: bold !important;
  text-align: left !important;
  width:auto;
  padding:0 10px;
  border-bottom:none;
}

.divider {
  padding-bottom: 5px;
  border-bottom: 1pt solid $purple;
}

/* Sidebar navigation */
.btn-side {
  width: 100%;
  padding: 0.5rem 1rem;
  margin-bottom: 5px;
  border-radius: 0.25rem;
  border: none;
  background-color: $primary;
  color: $white;
  cursor: pointer;

  &:hover {
    background-color: $purple;
  }

  &:focus {
    outline: none;
  }
}

@include media-breakpoint-down(md) {
  .btn-side {
    &:first-child {
      margin-top: 0px;
    }

    &:last-child {
      margin-bottom: 40px;
    }
  }
}

.btn-side.active {
  background-color: $purple;
  font-weight: bold;
  cursor: default;

  &:hover {
    background-color: $purple;
  }
}

// Timepicker styling
.timepicker {
  fieldset {
    border:none !important;
    padding: 0px !important;
    margin: 0px !important;
  }

  .btn {
    font-size: 0.9rem;

    &:hover {
      font-size: 0.9rem;
    }
  }

  .btn-link {
    color: $primary;
    padding: 0.2rem 0.75rem;

    &:hover {
      color: $secondary;
    }
  }

  .form-control {
    width: 70%;
    height: calc(2rem + 2px);
    padding: 0.3rem 0rem;
    font-size: 16px;
  }
}

.ngb-tp-spacer {
  width: auto !important;
}

// Browser update styling
.buorg {
  border-bottom: 1px solid $primary !important;
  background-color: #CDE6E9 !important;
  font: 16px Calibri,Helvetica,sans-serif !important;
}

.buorg-pad {
  padding: 15px !important;
}

.buorg-buttons {
  margin-top: 5px !important;
}

#buorgul {
  background: $primary !important;
  padding: 5px 20px !important;
}

#buorgig {
  background: transparent !important;
  box-shadow: none !important;
  color: $primary !important;
  padding: 5px 20px !important;
}

#buorgpermanent {
  background: $primary !important;
  padding: 5px 20px !important;
}

// MOB Map styling
.leaflet-left {
  right: 0 !important;
}

.leaflet-bar a {
  background-color: #07838f;
  color: #FFF;
}

Label{
  white-space: pre-wrap;
}

// Thumb toggle styling
/deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: rgba(7, 131, 143, 0.5)
}

/deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: $primary;
}

/deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-ripple-element {
  background-color: rgba(7, 131, 143, 0.5)
}

.mat-slide-toggle-content {
  font-family: Calibri,Helvetica,sans-serif !important;
  color: $primary;
  font-weight: bold;
}

// Dashboard material checkbox overide
.mat-checkbox-ripple .mat-ripple-element,.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: $purple!important;
}

.mat-checkbox-checked.mat-primary .mat-checkbox-background, .mat-checkbox-indeterminate.mat-primary .mat-checkbox-background{
  background-color: $purple!important;
}

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: $purple!important;
}
mat-checkbox {
  label {
    margin-bottom: 0.2rem!important;
  }
}

// mat-input focused color
.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: $purple !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: $purple !important;
}

// mat-label focused style
.mat-form-field.mat-focused .mat-form-field-label {
  color: $purple !important;
}

.mat-standard-chip {
  display: flex;
  align-items: center;
  min-height: 25px !important;
}

.mat-table {
  min-width: 100% !important;
}

.mat-cell, .mat-footer-cell {
  color: inherit;
}

.mat-checkbox-frame {
  border-width: 1px!important;
}