// Color system
$white:     #fff;
$gray-100:  #f2f2f2;
$gray-200:  #e9ecef;
$gray-300:  #dee2e6;
$gray-400:  #ced4da;
$gray-500:  #adb5bd;
$gray-600:  #868e96;
$gray-700:  #495057;
$gray-800:  #343a40;
$gray-900:  #212529;
$black:     #000;

$orange:    #f28e0a;
$purple:    #9d2f86;
$purple-2:  #cb277f;
$blue:      #07838f;
$green:     #77b968;
$green-2:   #9ccea4;
$green-3:   #c1d222;
$yellow:    #fcc201;

$red:             #dc3545 !default;
$yellow-warning:  #ffc107 !default;
$green-success:   #28a745 !default;
$cyan:            #17a2b8 !default;

$primary:       $blue;
$secondary:     $purple;
$success:       $green-success;
$info:          $cyan;
$warning:       $yellow-warning;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-800;

// Options
$enable-caret:         true;
$enable-rounded:       false;
$enable-shadows:       false;
$enable-gradients:     false;
$enable-transitions:   true;

// Spacing
$spacer:                    1rem;

// Body
$body-bg:                   $white;
$body-color:                $secondary;

// Links
$link-color:                $body-color;
$link-decoration:           none;
$link-hover-color:          lighten($link-color, 15%);
$link-hover-decoration:     underline;

// Paragraphs
$paragraph-margin-bottom:   1.5rem;

// Grid breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1400px
);

// Grid containers
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1200px
);

// Grid columns
$grid-columns:               12;
$grid-gutter-width:          40px;

// Components
$border-width:               4px;
$border-color:               $gray-300;
$border-radius:              0.25rem;
$component-active-bg:        $secondary;

// Fonts
$font-family-sans-serif:            "Calibri", Verdana, sans-serif;
$font-family-monospace:             SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base:                  $font-family-sans-serif;
$font-size-base:                    1.25rem;
$font-weight-light:                 300;
$font-weight-normal:                400;
$font-weight-bold:                  700;
$font-weight-base:                  $font-weight-normal;
$line-height-base:                  1.75;

$h1-font-size:                      3rem;
$h2-font-size:                      2rem;
$h3-font-size:                      1.75rem;
$h4-font-size:                      1.5rem;
$h5-font-size:                      1.25rem;
$h6-font-size:                      1rem;

$headings-margin-bottom:            ($spacer * 1.5);
$headings-font-family:              'PhosphateSolid';
$headings-font-weight:              500;
$headings-line-height:              1.2;
$headings-color:                    inherit;

$display1-size:                     4.5rem;
$display2-size:                     3.5rem;
$display3-size:                     3rem;
$display4-size:                     2.5rem;

$display1-weight:                   300;
$display2-weight:                   300;
$display3-weight:                   300;
$display4-weight:                   300;
$display-line-height:               $headings-line-height;

$lead-font-size:                    26px;
$lead-font-weight:                  300;
$text-muted:                        $gray-600;
$blockquote-font-size:              ($font-size-base * 1.25);

$hr-border-color:                   rgba($black, 0.2);
$hr-border-width:                   $border-width;
$hr-margin-y:                       $spacer;

$input-btn-focus-box-shadow:        0px 0px 10px 0 rgba($secondary, .5);
$input-focus-border-color:          $secondary;

$btn-padding-x:                     2rem;
$btn-padding-x-sm:                  1.75rem;
$btn-padding-x-lg:                  2.25rem;

$input-color:                       $secondary;

$input-line-height:                 2.2;
