<ng-container *ngIf="show">
    <div class="form-group row {{ _component.required }}">
        <label [htmlFor]="_component.id" class="col-sm-5 col-form-label control-label">{{ _component.label }}</label>
        <div class="input-group col-sm-5 timepicker">
            <div class="form-group">
                <div class="input-group">
                    <ngb-timepicker
                        [formControl]="_component.abstractControl"
                        [hourStep]="1"
                        [minuteStep]="15">
                    </ngb-timepicker>
                </div>
                <span class="w-100"></span>
                <small id="hintText" class="form-text text-muted">{{ _component.hintText }}</small>
            </div>
        </div>

        <div class="col-sm-12 col-md-1 col-lg-1 text-center">
            <app-question-mark *ngIf="_component.showQuestionMark" [field]="_component"></app-question-mark>
        </div>

        <ng-container *ngIf="_component.abstractControl.touched && _component.abstractControl.errors">
            <div class="col-sm-5"></div>
            <app-field-errors2 [configs]='_component.validators' [control]='_component.abstractControl' class="col-sm-6"></app-field-errors2>
        </ng-container>

<!--        <div *ngIf="_component._blockingShow" class="w-100 alert alert-danger" [innerHTML]="_component._blockingMessage"></div>-->
    </div>
</ng-container>
