<h2>Form components (tabs, fieldsets, sets, fields)</h2>

<button *ngFor="let component of formComponents"
        class="btn btn-primary col-3 mb-2 mr-1"
        (click)="selectComponent(component)">{{ component.id }}</button>

<hr>
<h2>Other components</h2>
