<div class="row">
    <button *ngIf="component.validateButton"
            type="button"
            class="btn btn-primary mb-2 mr-1"
            (click)="component.component.validate()">Trigger validation
    </button>

    <div *ngIf="component.component.validationResult">

        <span *ngIf="component.component.validationResult.valid === true" style="font-size: 3em; color: #4BB543;">
            <i class="fas fa-check"></i>
        </span>

        <span *ngIf="component.component.validationResult.valid === false" style="font-size: 3em; color: Tomato;">
            <i class="fas fa-exclamation-triangle"></i>
        </span>
    </div>
</div>
